.App-subtitle {
    font-weight: 500;
    font-size: 1.125rem;
}

.App-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.App-Numbers {
    display: flex;
    justify-content: space-around;
}

.Project-Cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}