.App-Numbers>p {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
}

.App-Numbers span {
    font-size: 2.8125rem;
    display: block;
    color: var(--color__accent2);
    font-weight: 700;
}

@media all and (max-width:765px) {
    .App-Numbers span {
        font-size: 2.2125rem;
    }
}